{% extends "gymapp/base.html" %}
{% block content %}
<h2>All Members</h2>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Join Date</th>
  </tr>
  {% for member in members %}
  <tr>
    <td>{{ member.name }}</td>
    <td>{{ member.email }}</td>
    <td>{{ member.join_date }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4">No members registered yet.</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'member_register' %}">
  <button>Add New Member</button>
</a>
{% endblock %}



